<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <meta charset="UTF-8" />
    <title>Bienvenidos a Mercado Liebre</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
    <article class="encabezado">
      <img
        class="logo"
        src="static/img/logo-mercado-liebre.svg"
        alt="Logo mercado liebre"
      />
      <br />
      <div class="buscador">
      <input
        type="search "
        id="input-search"
        placeholder="Buscar productos"
      /> <i class="fas fa-search search"></i>
      </div>
      <p class="destacado">
        <i class="fas fa-hand-holding-usd"> </i> Comprá en cuotas y sin tarjeta
        de crédito
      </p>
      </article>
      <br>
      <nav>
        <ul>
          <li><a href="/Ofertas"> Ofertas</a></li>
          <li><a href="/Tiendas Oficiales"> Tiendas Oficiales</a></li>
          <li><a href="/Vender"> Vender</a></li>
          <li><a href="/Ayuda"> Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register.html">
              Crea tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login.html"> Ingresa <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="/Mis Compras">
              Mis compras <i class="fas fa-shopping-basket"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <div class="banner">
        <img
          class="principal"
          src="static/img/img-home-banner.jpg"
          alt="imagen"
        />
      </div>
    </header>
    <main>
      <h2>Basado en mi última visita</h2>
      <section class="cards">
        <article class="card">
          <div class="imagen">
            <img
              src="static/img/img-cafetera-moulinex.jpg"
              alt="Imagen cafetera"
            /><br />
            <div class="texto">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precios">$6.770</p>
              <p class="descuentos">40% off</p>
              <h4>Cafetera Moulinex</h4>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="imagen">
            <img
              src="static/img/img-macbook-pro-2019.jpg"
              alt="Imagen MackBook"
            /><br />
            <div class="texto">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precios">$230.000</p>
              <p class="descuentos">20% off</p>
              <h4>MacBook Pro 2019</h4>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="imagen">
            <img
              src="static/img/img-samsung-galaxy-s10.jpg"
              alt="Imagen Samsung"
            /><br />
            <div class="texto">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precios">$70.500</p>
              <p class="descuentos">10% off</p>
              <h4>Samsung Galaxy s10</h4>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="imagen">
            <img
              src="static/img/img-tv-samsung-smart.jpg"
              alt="Imagen smartTv"
            /><br />
            <div class="texto">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
              <h4>SmartTv Samsung 43"</h4>
            </div>
          </div>
        </article>
      </section>
      <br>

      <h2>Ofertas</h2>
      <section class="cards">
        <article class="card">
          <div class="imagen">
            <img
              src="static/img/img-cafetera-moulinex.jpg"
              alt="Imagen cafetera"
            /><br />
            <div class="texto">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precios">$6.770</p>
              <p class="descuentos">40% off</p>
              <h4>Cafetera Moulinex</h4>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="imagen">
            <img
              src="static/img/img-macbook-pro-2019.jpg"
              alt="Imagen MackBook"
            /><br />
            <div class="texto">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precios">$230.000</p>
              <p class="descuentos">20% off</p>
              <h4>MacBook Pro 2019</h4>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="imagen">
            <img
              src="static/img/img-samsung-galaxy-s10.jpg"
              alt="Imagen Samsung"
            /><br />
            <div class="texto">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precios">$70.500</p>
              <p class="descuentos">10% off</p>
              <h4>Samsung Galaxy s10</h4>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="imagen">
            <img
              src="static/img/img-tv-samsung-smart.jpg"
              alt="Imagen smartTv"
            /><br />
            <div class="texto">
              <div class="camion">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
              <h4>SmartTv Samsung 43"</h4>
            </div>
          </div>
        </article>
      </section>
      <br>
    </main>
    <footer>
    <article class="pie">
      <div class="footer">
      <div class="footer-icon">
        <i class="fas fa-credit-card"></i>
      </div>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
      <br />
      </div>


      <div class="footer">
      <div class="footer-icon">
        <i class="fas fa-gift"></i>
      </div>
      <h4>Envío gratis desde $2.500</h4>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
      <br />
    </div>

      <div class="footer">
      <div class="footer-icon">
        <i class="fas fa-user-shield"></i>
      </div>
      <h4>Seguridad, de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
      <br />
      </div>
    </article>
      <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
